<% content_for(:title){ I18n.t('.admin.dashboard.title')} %>

<div id="admin-dashboard-counts" class="row">
  <div class="col-8">
    <div id="admin-dashboard-matches" class="card card-primary">
      <div class="card-header">
        <h4 class="card-title"><%= I18n.t('admin.dashboard.matches') %></h4>
      </div>
      <div class="card-body table-full-width" id="matches-root">
        <table class="table match-table table-responsive">
          <tbody>
            <% matches.each do |match| %>
              <%= partial("admin/_match.html", match: match) %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-primary">
      <div class="card-header">
        <h4 class="card-title"><%= I18n.t('admin.dashboard.user_count') %></h4>
      </div>
      <div class="card-body text-primary text-center">
        <h2 class="mt-0"><%= users %></h2>
      </div>
    </div>

    <div class="card card-primary">
      <div class="card-header">
        <h4 class="card-title"><%= I18n.t('admin.dashboard.group_count') %></h4>
      </div>
      <div class="card-body text-success text-center">
        <h2 class="mt-0"><%= groups %></h2>
      </div>
    </div>

    <div class="card card-primary">
      <div class="card-header">
        <h4 class="card-title"><%= I18n.t('admin.dashboard.prediction_count') %></h4>
      </div>
      <div class="card-body text-warning text-center">
        <h2 class="mt-0"><%= predictions %></h2>
      </div>
    </div>
  </div>
</div>
