<div id="admin-match-form" class="row">
  <div class="col-md-8">
    <form class="form-horizontal" action="/admin/matches/<%= match.id %>/edit" method="post">
      <input type="hidden" name="_method" value="PUT">
      <fieldset>
        <legend><%= I18n.t('admin.matches.match') %> #<%= match.id %></legend>
        <div class="form-group">
          <label for="inputHostScore" class="col-lg-4 control-label"><%= "#{I18n.t('admin.matches.score')} #{I18n.t(".teams.#{match.host_team.iso_code}")}" %></label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputHostScore" name="host_score" value="<%= match.result.host_score %>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputRivalScore" class="col-lg-4 control-label"><%= "#{I18n.t('admin.matches.score')} #{I18n.t(".teams.#{match.rival_team.iso_code}")}" %></label>
          <div class="col-lg-8">
            <input type="text" class="form-control" id="inputHostScore" name="rival_score" value="<%= match.result.rival_score %>">
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-4 control-label"><%= I18n.t('admin.matches.status') %></label>
          <div class="col-lg-8">
            <select class="form-control" id="select" name="status">
              <option value="partial" <%= match.result.status == 'partial' ? 'selected' : '' %> class="text-success"><%= I18n.t('admin.matches.partial') %></option>
              <option value="final" <%= match.result.status == 'final' ? 'selected' : '' %> class="text-danger"><%= I18n.t('admin.matches.final') %></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2 text-right">
            <a class="btn btn-default" href="/admin/dashboard"><%= I18n.t('actions.cancel') %></a>
            <button type="submit" class="btn btn-primary"><%= I18n.t('actions.save') %></button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
