<div id="navbar" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a id="home-link" href="/">Funky World Cup</a>
        <img id="flag" src="/img/flag.png" />
        <div class="year">2014</div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <% if user_authenticated? %>
        <ul class="nav navbar-nav" id="main-navbar">
          <li class="<%= class_for_path("/cup-groups/fixture") %>"><a href="/cup-groups/fixture"><%= I18n.t('.menu.fixture') %></a></li>
          <li class="<%= class_for_path("/dashboard") %>"><a href="/dashboard"><%= I18n.t('.menu.dashboard') %></a></li>
          <li class="<%= class_for_path("/users/#{current_user.id}/predictions") %>"><a href="/users/<%= current_user.id %>/predictions"><%= I18n.t('.menu.predictions') %></a></li>
          <li class="<%= class_for_path("/cup-groups/positions") %>"><a href="/cup-groups/positions"><%= I18n.t('.menu.positions') %></a></li>
          <li class="<%= class_for_path("/groups") %>"><a href="/groups"><%= I18n.t('.menu.your_groups') %></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= I18n.t('.menu.help') %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/disclaimer"><%= I18n.t('.menu.disclaimer') %></a></li>
              <li><a href="/rules"><%= I18n.t('.menu.rules') %></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= current_user.image %>" />
              <span id="nickname"><%= current_user.nickname %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="small-mobile"><a href="/cup-groups/fixture"><%= I18n.t('.menu.fixture') %></a></li>
              <li class="small-mobile"><a href="/dashboard"><%= I18n.t('.menu.dashboard') %></a></li>
              <li class="small-mobile"><a href="/cup-groups/positions"><%= I18n.t('.menu.positions') %></a></li>
              <li class="small-mobile"><a href="/groups"><%= I18n.t('.menu.your_groups') %></a></li>
              <li class="small-mobile"><a href="/groups"><%= I18n.t('.menu.your_groups') %></a></li>
              <li class="small-mobile"><a href="/users/<%= current_user.id %>/predictions"><%= I18n.t('.menu.predictions') %></a></li>
              <li class="small-mobile"><a href="/disclaimer"><%= I18n.t('.menu.disclaimer') %></a></li>
              <li class="user-menu"><a href="/dashboard"><%= I18n.t('.menu.dashboard') %></a></li>
              <li class="divider"></li>
              <li><a href="/logout"><%= I18n.t('.menu.logout') %></a></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
