<div id="navbar" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a id="home-link" href="/">Funky World Cup</a>
        <img id="flag" src="/img/flag.png" />
        <div class="year">2014</div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <% if user_authenticated? %>
        <ul class="nav navbar-nav">
          <li class="<%= class_for_path("/cup-groups/fixture") %>"><a href="/cup-groups/fixture">Fixture</a></li>
          <li class="<%= class_for_path("/dashboard") %>"><a href="/dashboard">Dashboard</a></li>
          <li class="<%= class_for_path("/rank") %>"><a href="/rank">Rank</a></li>
          <li class="<%= class_for_path("/users/#{current_user.id}/predictions") %>"><a href="/users/<%= current_user.id%>/predictions">Your Predictions</a></li>
          <li class="<%= class_for_path("/cup-groups/positions") %>"><a href="/cup-groups/positions">Positions Table</a></li>
          <li class="<%= class_for_path("/groups") %>"><a href="/groups">Your Groups</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Help
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/disclaimer">Disclaimer</a></li>
              <li><a href="/rules">Rules</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= current_user.image %>" />
              <%= current_user.nickname %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/groups">Groups</a></li>
              <li><a href="/users/<%= current_user.id %>/predictions">Predictions</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
            <ul class="dropdown-menu">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </a>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
