<% prediction = MatchPrediction.prediction_for(current_user.id, match.id) %>
<tr id="match-<%= match.id %>">
  <td class="info-column">
    <div> <%= match.stadium %></br> </div>
    <div> <%= match.place %> </div>
  </td>
  <td class="team-column">
    <img src="/img/<%= match.host_team ? "flags/#{match.host_team.flag}" : 'missing.png' %>">
    <br>
    <span class="team host-team"><%= match.host_team ? I18n.t(".teams.#{match.host_team.iso_code}") : translate_description(match.host_description) %></span>
  </td>
  <% if match.result.nil? %>
    <td class="text-center">
      <span class="time">
        <%= match.start_datetime.strftime("%d %^b") %><br/>
        <%= match.start_datetime.strftime("%H:%M") %></br>
        <%= match.local_timezone %>
      </span>
    </td>
  <% else %>
    <td class="text-center result">
      <div class="result-holder">
        <span class="host-result"><%= match.result.host_score %></span>
        <strong class="status <%= match.result.status == 'partial' ? "text-success" : "text-danger" %>">
          <%= match.result.status == 'partial' ? I18n.t('.common.in_progress') : I18n.t('.common.finished') %><br>
        </strong>
        <div class="mobile-result">
          <span class="host-result-mobile"><%= match.result.host_score %></span>
          -
          <span class="rival-result-mobile"><%= match.result.rival_score %></span>
        </div>
        <span class="rival-result"><%= match.result.rival_score %></span>
      </div>
    </td>
  <% end %>
  <td class="team-column">
    <img src="/img/<%= match.rival_team ? "flags/#{match.rival_team.flag}" : 'missing.png' %>">
    <br>
    <span class="team"><%= match.rival_team ? I18n.t(".teams.#{match.rival_team.iso_code}") : translate_description(match.rival_description) %></span>
  </td>
  <td class="text-center prediction-column">
    <% if prediction %>
      <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
      <% if match.result.status == 'final' %>
        <br>
        <strong class="text-danger">
          <%= I18n.t('.common.score') %>: <%= prediction ? prediction.prediction_score : 0 %>
        </strong>
      <% end %>
    <% elsif match.host_team && match.rival_team && match.result.nil? %>
      <button type="button"
              class="btn btn-primary btn-sm btn-predict"
              data-host="<%= I18n.t(".teams.#{match.host_team.iso_code}") %>"
              data-host-flag="<%= match.host_team.flag %>"
              data-rival="<%= I18n.t(".teams.#{match.rival_team.iso_code}") %>"
              data-rival-flag="<%= match.rival_team.flag %>"
              data-match="<%= match.id %>"
      ><%= I18n.t('.actions.predict') %></button>
    <% end %>
  </td>
</tr>
<tr class="mobile-info">
  <td colspan="3">
    <% if prediction %>
      <strong class="text-primary"><%= I18n.t('dashboard.your_prediction')%>: <%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
      <% if match.result.status == 'final' %>
        <strong class="text-danger">
           (<%= I18n.t('.common.score') %>: <%= prediction ? prediction.prediction_score : 0 %>)
        </strong>
      <% end %>
    <% elsif match.host_team && match.rival_team && match.result.nil? %>
      <button type="button"
              class="btn btn-primary btn-xs btn-predict"
              data-host="<%= I18n.t(".teams.#{match.host_team.iso_code}") %>"
              data-host-flag="<%= match.host_team.flag %>"
              data-rival="<%= I18n.t(".teams.#{match.rival_team.iso_code}") %>"
              data-rival-flag="<%= match.rival_team.flag %>"
              data-match="<%= match.id %>"
      ><%= I18n.t('.actions.predict') %></button>
    <% end %>
  </td>
</tr>
