<% prediction = MatchPrediction.prediction_for(current_user.id, match.id) %>
<% match_has_teams = match.host_team && match.rival_team %>
<% any_predictable ||= false %>
<% team_classes = match_has_teams || any_predictable ? "team-column team-column-groups" : "text-center d-table-cell" %>

<tr id="match-<%= match.id %>">
  <td class="<%= team_classes %>">
    <% if match.host_team %>
      <a href="/teams/<%= match.host_team.iso_code %>">
        <img class="flag" src="/img/flags/<%= match.host_team.flag %>">
      </a>
    <% else %>
      <img class="flag" src="/img/flags/missing.svg">
    <% end %>
    <br>
    <span class="team host-team">
      <% if match.host_team %>
        <%= I18n.t(".teams.#{match.host_team.iso_code}") %>
      <% else %>
        <%= translate_description(match.host_description) %>
      <% end %>
    </span>
  </td>
  <% if match.result.nil? %>
    <td is="td-match-time" date="<%= match.start_datetime %>"></td>
  <% else %>
    <td class="text-center result">
      <div class="result-holder">
        <strong class="status <%= match.result.status == 'partial' ? "text-success" : "text-danger" %>">
          <%= match.result.status == 'partial' ? I18n.t('.common.in_progress') : I18n.t('.common.finished') %><br>
        </strong>
        <div class="result">
          <span class="host-result-mobile"><%= match.result.host_score %></span>
          -
          <span class="rival-result-mobile"><%= match.result.rival_score %></span>
        </div>
      </div>
    </td>
  <% end %>
  <td class="<%= team_classes %>">
    <% if match.rival_team %>
      <a href="/teams/<%= match.rival_team.iso_code %>">
        <img class="flag" src="/img/flags/<%= match.rival_team.flag %>">
      </a>
    <% else %>
      <img class="flag" src="/img/flags/missing.svg">
    <% end %>
    <br>
    <span class="team rival-team">
      <% if match.rival_team %>
        <%= I18n.t(".teams.#{match.rival_team.iso_code}") %>
      <% else %>
        <%= translate_description(match.rival_description) %>
      <% end %>
    </span>
  </td>
<% if match_has_teams || any_predictable %>
  <td class="text-center d-none d-sm-table-cell col-2">
    <% if prediction %>
      <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
      <% if !match.result.nil? && match.result.status == 'final' %>
        <br>
        <span class="text-danger">
          <%= I18n.t('.common.score') %>: <%= prediction ? prediction.prediction_score : 0 %>
        </span>
      <% end %>
    <% elsif match.predictable? %>
      <button type="button"
              class="btn btn-info btn-sm btn-predict"
              data-host="<%= I18n.t(".teams.#{match.host_team.iso_code}") %>"
              data-host-flag="<%= match.host_team.flag %>"
              data-rival="<%= I18n.t(".teams.#{match.rival_team.iso_code}") %>"
              data-rival-flag="<%= match.rival_team.flag %>"
              data-match="<%= defined?(match_id) ? match_id : match.id %>"
              data-penalties="<%= match.allow_penalties? %>"
              >

          <span class="btn-label"> <i class="fa fa-check"></i> </span>
          <%= I18n.t('.actions.predict') %>
      </button>
    <% end %>
  </td>
<% end %>
</tr>
<tr>
  <td colspan="4" class="match-info text-center">
    <span-match-date date="<%= match.start_datetime %>"></span-match-date>
    -
    <%= match.stadium %> 
    <span class="d-none d-sm-inline"> - <%= match.place %></span>
  </td>
</tr>
<% if prediction || match.predictable? %>
  <tr class="d-table-row d-sm-none">
    <td class="text-center match-info" colspan="3">
      <% if prediction %>
        <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
        <% if !match.result.nil? && match.result.status == 'final' %>
          <br>
          <span class="text-danger">
            <%= I18n.t('.common.score') %>: <%= prediction ? prediction.prediction_score : 0 %>
          </span>
        <% end %>
      <% elsif match.predictable? %>
        <button type="button"
                class="btn btn-info btn-sm btn-predict"
                data-host="<%= I18n.t(".teams.#{match.host_team.iso_code}") %>"
                data-host-flag="<%= match.host_team.flag %>"
                data-rival="<%= I18n.t(".teams.#{match.rival_team.iso_code}") %>"
                data-rival-flag="<%= match.rival_team.flag %>"
                data-match="<%= defined?(match_id) ? match_id : match.id %>"
                data-penalties="<%= match.allow_penalties? %>"
                >

            <span class="btn-label"> <i class="fa fa-check"></i> </span>
            <%= I18n.t('.actions.predict') %>
        </button>
      <% end %>
    </td>
  </tr>
<% end %>
