<div class="modal fade predict" id="modal-predict">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= I18n.t('.matches.predict_title') %></h4>
      </div>
      <div class="modal-body table-full-width table-responsiveel-dialog">
        <form method="post" action="/users/<%= current_user.id %>/predictions" id="prediction-form">
          <input type="hidden" name="match_id" id="match-id" value="">
          <%= csrf_token %>
          <% if defined?(redirect) %>
            <input type="hidden" name="back_to" value="<%= redirect %>">
          <% end %>
          <table class="table table-striped matches-table">
            <tbody>
              <tr>
                <td class="predict-host"></td>
                <td class="predict-host-score">
                  <input type="number" step="1" min="0" class="form-control" name="host_score">
                </td>
                <td class="predict-rival-score">
                  <input type="number" step="1" min="0" class="form-control" name="rival_score">
                </td>
                <td class="predict-rival"></td>
              </tr>
              <tr style="display: none;" class="modal-penalties">
                <td class="text-center"><%= I18n.t('.matches.penalties')%></td>
                <td class="modal-host-score">
                  <input type="text" class="form-control" name="host_penalties_score">
                </td>
                <td class="modal-rival-score">
                  <input type="text" class="form-control" name="rival_penalties_score">
                </td>
                <td class="text-center">
                  <a class="penalties-info" target="_blank" href="/rules#score"><span class="badge">?</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
        <div class="alert-penalties col-12 alert alert-info alert-with-icon" role="alert" class="display:none;">
          <span data-notify="icon" class="nc-icon nc-bell-55"></span>
          <span data-notify="message">
            <strong><%= I18n.t('.matches.penalties_text_html') %></strong>
          </span>
        </div>

        <div class="col-12 alert alert-warning alert-with-icon" role="alert">
          <span data-notify="icon" class="nc-icon nc-bell-55"></span>
          <span data-notify="message">
            <strong><%= I18n.t('.matches.warning_text') %></strong>
          </span>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal"><%= I18n.t('.actions.cancel') %></button>
        <button type="button" class="btn btn-primary" id="submit-prediction"><%= I18n.t('.actions.confirm') %></button>
      </div>
    </div>
  </div>
</div>
