<div id="sidebar" class="col-md-3">
  <div id="score-rank">
    <div class="panel panel-primary pull-left">
      <div class="panel-heading">
        <h3 class="panel-title">Score</h3>
      </div>
      <div class="panel-body">
        <a href="/score"><%= current_user.score %></a>
      </div>
    </div>
    <div class="panel panel-primary pull-right">
      <div class="panel-heading">
        <h3 class="panel-title">Rank</h3>
      </div>
      <div class="panel-body" >
        <a href="/rank#position-<%= current_user.rank %>"><%= current_user.rank %></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Your groups</div>
    <div class="panel-body">
      <% if current_user.groups.any? %>
      <ul class="list-group">
        <% current_user.groups.each do |user_group| %>
        <li class="list-group-item">
          <span class="badge">#<%= current_user.rank_in_group(user_group.id) %></span>
          <a href="/groups/<%= user_group.id %>"><%= "#{user_group.name} (#{user_group.user.nickname})" %></a>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p>You don't participate in any group yet</p>
      <% end %>
      <a href="/groups/new" class="btn btn-success" id="create-group">Create Group</a>
    </div>
  </div>
</div>
