<div id="sidebar" class="col-md-3">
  <div id="score-rank">
    <div class="panel panel-primary pull-left">
      <div class="panel-heading">
        <h3 id="score-title-sidebar" class="panel-title"><%= I18n.t('.sidebar.score') %></h3>
        <a href="/rules#score"><span class="badge">?</span></a>
      </div>
      <div class="panel-body">
        <a href="/users/<%= current_user.id %>/predictions"><%= current_user.score %></a>
      </div>
    </div>
    <div class="panel panel-primary pull-right">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t('.sidebar.rank') %></h3>
      </div>
      <div class="panel-body" >
        <a href="/rank#position-<%= @user_rank %>"><%= @user_rank %></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%= I18n.t('.sidebar.your_groups') %></div>
    <div class="panel-body">
      <% if current_user.groups.any? %>
      <ul class="list-group">
        <% current_user.groups.each do |user_group| %>
        <li class="list-group-item">
          <span class="badge">#<%= user_group.rank_for(current_user.id) %></span>
          <a href="/groups/<%= user_group.id %>"><%= "#{user_group.name} (#{user_group.user.nickname})" %></a>
        </li>
        <% end %>
      </ul>
      <% else %>
        <p><%= I18n.t('.sidebar.no_groups') %></p>
      <% end %>
      <a href="/groups/new" class="btn btn-success" id="create-group"><%= I18n.t('.actions.create_group') %></a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><%= I18n.t('.sidebar.share') %></div>
    <div class="panel-body">
      <div class="share-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://funkyworldcup.com/" data-via="funkyworldcup" data-lang="<%= session[:locale] %>" data-size="large" data-related="funkyworldcup" data-hashtags="<%= I18n.t(".sidebar.tweet_hashtag") %>" data-text="<%= I18n.t(".sidebar.tweet") %>">Twittear</a>
      </div>
      <div class="share-button">
        <div class="fb-share-button" data-href="http://funkyworldcup.com/" data-type="button_count"></div>
      </div>
    </div>
  </div>
</div>
