<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= I18n.t('seo.title') %></title>
    <meta name="description" content="<%= I18n.t('seo.description') %>">
    <meta name="keywords" content="<%= I18n.t('seo.keywords') %>">
    <meta name="author" content="Three Funky Monkeys">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/funky_world_cup.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= render("views/shared/_analytics.html.erb") %>
    <%= render("views/shared/_social.html.erb") %>
  </head>
  <body>
    <div>
      <div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
          <div class="container">
            <div class="navbar-wrapper">
              <div class="navbar-brand">
                <a class="logo-mini" href="/">
                  <img src="/img/fwc_logo.svg" alt="FWC Logo">
                  <span class="brand-name">Funky World Cup</span>
                </a>
              </div>
              <button class="navbar-toggler"
                      type="button"
                      data-toggle="collapse"
                      aria-controls="navigation-index"
                      aria-expanded="false"
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
              </button>
            </div>
            <div class="navbar-collapse justify-content-end" id="navbar" style="display: none">
              <ul class="navbar-nav">
                <% if current_user %>
                  <li class="nav-item <%= class_for_path("/dashboard") %>">
                      <a class="nav-link" href="/dashboard">
                          <i class="nc-icon nc-chart-pie-35"></i>
                          <p><%= I18n.t('.menu.dashboard') %></p>
                      </a>
                  </li>
                  <li class="nav-item <%= class_for_path("/cup-groups/fixture") %>">
                      <a class="nav-link" href="/cup-groups/fixture">
                          <i class="nc-icon nc-paper-2"></i>
                          <p><%= I18n.t('.menu.fixture') %></p>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <i class="nc-icon nc-lock"></i> Logout
                    </a>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <a class="nav-link">
                      <i class="nc-icon nc-badge"></i> Register
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <i class="nc-icon nc-mobile"></i> Login
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <div class="full-page login-page" data-color="black">
          <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple | black" -->
          <div class="content">
            <div class="container">
              <%= yield %>
            </div>
          </div>

          <%= partial("shared/_footer.html") %>

          <div class="full-page-background"
              style="background-image: url(/img/home_bg.jpg) "></div>
          </div>
      </div>

    <script type="text/javascript" src="/js/jquery.3.2.1.min.js"></script>
    <script type="text/javascript">
      $(".navbar-toggler").on("click", function(){ $("#navbar").toggle() });
    </script>
  </body>
</html>
