<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= I18n.t('seo.title') %></title>
    <meta name="description" content="<%= I18n.t('seo.description') %>">
    <meta name="keywords" content="<%= I18n.t('seo.keywords') %>">
    <meta name="author" content="Three Funky Monkeys">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/funky_world_cup.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= render("views/shared/_analytics.html.erb") %>

    <%# Facebook %>
    <meta property="og:image" content="<%= ENV['FWC_URL']%>img/fwc_brasil_2014_landing.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:image" content="<%= ENV['FWC_URL']%>img/fwc_brasil_2014.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="641">
    <meta property="og:title" content="<%= I18n.t('groups.join.title', name: group.name) %>">
    <meta property="og:description" content="<%= I18n.t('groups.join.description') %>">
    <meta property="og:site_name" content="Funky World Cup">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= ENV['FWC_URL'] %>groups/join/<%= group.link%>?lang=<%= session[:locale]%>">
    <%# Google +%>
    <meta itemprop="name" content="<%= I18n.t('groups.join.title', name: group.name) %>">
    <meta itemprop="description" content="<%= I18n.t('groups.join.description') %>">
    <meta itemprop="image" content="<%= ENV['FWC_URL'] %>img/fwc_brasil_2014.jpg">
    <%# Twitter Card%>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@funkyworldcup">
    <meta name="twitter:title" content="<%= I18n.t('groups.join.title', name: group.name) %>">
    <meta name="twitter:description" content="<%= I18n.t('groups.join.description') %>">
    <meta name="twitter:creator" content="@3FunkyMonkeys">
    <meta name="twitter:image:src" content="<%= ENV['FWC_URL'] %>img/fwc.png">
    <meta name="twitter:domain" content="FunkyWorldCup.com">
  </head>
  <body>
    <div id="wrapper">
      <%= render("views/shared/_header.html.erb") %>
      <div id="container" class="container home-container">
        <%= show_flash_message %>
        <%= yield %>
      </div>
      <%= render("views/shared/_footer.html.erb") %>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

