<% content_for(:title) { "#{I18n.t('.teams_page.title')} #{I18n.t(".teams.#{team.iso_code}")}" } %>
<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="card">
      <div class="card-header">
        <div class="select-team row form-group">
          <div class="col-6 col-sm-4 ml-auto pr-1">
            <select id="teams-filter" class="form-control">
              <% teams.each do |v_team|%>
                <option value="<%= v_team.iso_code %>" <%= v_team.iso_code == team.iso_code ? 'selected' : '' %>><%= I18n.t(".teams.#{v_team.iso_code}") %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body table-full-width">
        <table class="table table-striped match-table table-responsive">
          <tbody>
            <% matches.each do |match| %>
              <%= partial("shared/_match_row_small.html", match: Match[match.id]) %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id, redirect: req.path[1..req.path.size]) %>
