<h3>
  <%= I18n.t('.teams_page.title') %>
  <select id="teams-filter" class="chosen-select">
    <% teams.each do |v_team|%>
      <option value="<%= v_team.iso_code %>" <%= v_team.iso_code == team.iso_code ? 'selected' : '' %>><%= I18n.t(".teams.#{v_team.iso_code}") %></option>
    <% end %>
  </select>
</h3>
<div class="panel panel-default dashboard-matches">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <% matches.each do |match| %>
      <%= render("views/pages/_match.html.erb", :match => match) %>
    <% end %>
  </div>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id) %>

