<% content_for(:title){ I18n.t('.common.fixture') } %>

<%= partial("cup_groups/_fixture_notifications.html") %>

<div class="row">
  <% groups.each do |group_name, matches| %>
    <div class="col-xl-6 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Group <%= group_name %></h4>
        </div>
        <div class="card-body table-full-width">
          <table class="table match-table table-responsive">
            <tbody>
              <% matches.each do |match| %>
                <%= partial("shared/_match_row_small.html", match: Match[match.id]) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% phases.each do |phase, matches| %>
    <div class="col-md-12">
      <div id="phase-<%= phase %>" class="card">
        <div class="card-header">
          <h4 class="card-title"><%= phase == 'groups' ? I18n.t('.common.group') + 's' : I18n.t(".common.#{matches.first.name.downcase.gsub(/ |-/,"_")}") %></h4>
        </div>
        <div class="card-body table-full-width">
          <table class="table table-striped table-hover match-table table-responsive d-none d-sm-table">
            <tbody>
              <% matches.each do |match| %>
                <%= partial("shared/_match_row.html", match: Match[match.id]) %>
              <% end %>
            </tbody>
          </table>
          <table class="table table-hover match-table table-responsive d-table d-sm-none">
            <tbody>
              <% matches.each do |match| %>
                <%= partial("shared/_match_row_small.html", match: Match[match.id]) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id, redirect: 'cup-groups/fixture') %>
