<div class="card">
  <div class="card-body">
    <form method="post" action="/groups/<%= group.id %>">
      <input type="hidden" name="_method" value="PUT">
      <%= csrf_token %>
      <div class="form-group">
        <label class="control-label" for="name"><%= I18n.t('.groups.fields.name') %></label>
        <input class="form-control" id="name" name="group[name]" type="text" value="<%= params.has_key?('name') ? params['name'] : group.name %>" required>
      </div>
      <div class="form-group">
        <label class="control-label" for="description"><%= I18n.t('.groups.fields.desc') %></label>
        <textarea class="form-control" rows="3" id="description" name="group[description]"><%= params.has_key?('description') ? params['description'] : group.description %></textarea>
      </div>
      <div class="form-group">
        <div class="pull-right">
          <button type="submit" class="btn btn-success"><%= I18n.t('.actions.save') %></button>
        </div>
      </div>
    </form>
  </div>
</div>
