<div class="modal fade" id="group-<%= group.id %>-leave">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('.groups.leave_title') %></h5>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('.groups.leave_text') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close" data-dismiss="modal"><%= I18n.t('.actions.cancel') %></button>
        <form method="post" action="/groups/<%= group.id %>/leave" class="form-inline" role="form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-primary"><%= I18n.t('.actions.leave') %></button>
        </form>
      </div>
    </div>
  </div>
</div>
