<div class="modal fade" id="group-<%= group.id %>-participants">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('.groups.participants') %></h5>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= I18n.t(".groups.participants_list.pos") %></th>
              <th><%= I18n.t(".groups.participants_list.pts") %></th>
              <th><%= I18n.t(".groups.participants_list.name") %></th>
            </tr>
          </thead>
          <% group.participants_by_rank.each do |key, rank_for_key| %>
            <% rank_for_key.each do |participant| %>
              <tr>
                <td>#<%= key %></td>
                <td><%=participant[:score] || 0 %></td>
                <td>
                  <% if participant[:image] %>
                    <img src="<%= participant[:image] %>" class="participant-img">
                  <% else %>
                    <img src="/img/soccer-ball.svg" class="participant-img">
                  <% end %>
                  <span><%= participant[:nickname] %></span>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close btn-block" data-dismiss="modal"><%= I18n.t('.actions.close') %></button>
      </div>
    </div>
  </div>
</div>

