<% content_for(:title) { I18n.t('.groups.title') } %>

<% if groups.any? %>
  <% groups.each_slice(3) do |group1, group2, group3| %>
    <div class="row">
      <%= partial("groups/_card.html", group: group1, participants: []) %>
      <%= partial("groups/_card.html", group: group2, participants: []) if group2 %>
      <%= partial("groups/_card.html", group: group3, participants: []) if group3 %>
    </div>
  <% end %>
<% else %>  
  <p class="text-center text-muted"><%= I18n.t('.groups.no_groups') %></p>
  <p class="text-center" >
    <a class="btn btn-primary" href="/groups/new"><%= I18n.t('.actions.create_group.') %></a>
  </p>
<% end %>
