<h2><%= I18n.t('.groups.title') %></h2>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= I18n.t('.common.group') %>s</h3>
  </div>
  <div class="panel-body">
    <% if groups.any? %>
      <ul class="list-group">
        <% groups.each_with_index do |user_group, index| %>
        <li class="list-group-item">
          <span class="badge pull-left">#1</span>
          &nbsp;
          <a href="/groups/<%= user_group.id %>"><%= "#{user_group.name} (#{user_group.user.nickname})" %></a>
          <% if current_user.id == user_group.user_id %>
            <a href="/groups/<%= user_group.id %>/edit" class="btn btn-warning btn-xs pull-right"><%= I18n.t('.actions.edit') %></a>
          <% else %>
          <% end %>
        </li>
        <% end %>
      </ul>
    <% else %>  
      <p><%= I18n.t('.groups.no_groups') %></p>
    <% end %>
  </div>
</div>
