<div class="row d-flex justify-content-center align-items-center">
  <div class="col-lg-8 col-md-12 col-sm-8">
    <div class="card join-group">
      <div class="card-header text-center">
        <h4 class="card-title"><%= I18n.t('groups.join.title', name: group.name) %></h4>
      </div>
      <div class="card-body text-center">
        <p class="text-muted"><%= I18n.t('groups.join.description') %></p>
        <br>
        <% if current_user %>
          <div class="text-center">
            <form action="/groups/join/<%= group.link %>" method="post">
              <input type="hidden" name="_method" value="put">
              <%= csrf_token %>
              <button type="submit" class="btn btn-success btn-lg"><%= I18n.t('groups.join.join') %></button>
            </form>
          </div>
        <% else %>
          <h5 class="text-muted"><%= I18n.t('groups.join.login_join') %></h5>
          <br>
          <a class="btn btn-social btn-round btn-twitter btn-outline" href="/auth/twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-social btn-round btn-facebook btn-outline" href="/auth/facebook">
            <i class="fa fa-facebook"></i>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
