<% content_for(:title) { group.name } %>

<div class="row">
  <div class="col-12 col-md-6 participants-list">
    <%= partial("groups/_invite.html", group: group, link: link) %>
    <%= partial("groups/_participants.html", group: group, participants: participants) %>
  </div>
  <div class="col-12 col-md-6">
    <%= partial("groups/_prizes.html", group: group, prizes: prizes) %>
    <%= partial("groups/_edit.html", group: group, params: params) %>

    <div class="card">
      <div class="card-body text-center">
        <a href="#"
           class="btn btn-danger btn-md btn-block"
           data-toggle="modal"
           data-target="#modal-delete"
        >
          <%= I18n.t('.actions.delete') %>
        </a>
      </div>
    </div>
  </div>
</div>

<%= partial("groups/_delete_popup.html", id: group.id) %>
