<% content_for(:title) { "#{group.name} (#{group.user.nickname})" } %>

<div id="group-controls" class="pull-right">
  <% if group.user_id == current_user.id %>
    <a href="/groups/<%= group.id %>/edit" class="btn btn-warning pull-right btn-sm"><%= I18n.t('.actions.edit') %></a>
    <a href="#" class="btn btn-danger pull-right btn-sm" id="delete-group"><%= I18n.t('.actions.delete') %></a>
  <% else %>
    <a class="btn btn-warning pull-right btn-sm" href="" id="leave-group"><%= I18n.t('.actions.leave')%></a>
  <% end %>
</div>
<div class="clearfix"></div>
<br/>
<div class="row" style="margin-top:-20px;">
  <div class="col-md-8">
    <% if group.user_id == current_user.id %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t('.groups.invite') %></h3>
      </div>
      <div class="panel-body">
        <form method="post" action="/groups/<%= group.id %>/reset_link">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">#</span>
              <input type="text" class="form-control" id="sharecode" value="<%= url + "groups/join/" + (group.link || "")%>">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><%= I18n.t('.actions.reset') %></button>
              </span>
            </div>
          </div>
        </form>
        <div class="text-center">
          <span><%= I18n.t('.groups.invite_fb')%></span>
          <div class="fb-send" data-href="<%= url + "groups/join/" + (group.link || "")%>?lang=<%= session[:locale] %>" data-colorscheme="light"></div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t('.groups.participants') %></h3>
      </div>
      <div class="panel-body" data-group="<%= group.id %>">
        <ul class="list-group <%= group.user_id == current_user.id ? 'by-owner' : ''%>" id="group-participants-list">
          <% participants.each do |key, rank_for_key| %>
            <% rank_for_key.each do |participant| %>
              <li class="list-group-item">
                <span class="badge"><%=participant[:score] || 0 %></span>
                <span class="label label-<%= key < 3 ? 'success' : 'warning' %>">#<%= key %></span>
                <span>
                  <img src="<%= participant[:image] %>" class="participant-img">
                  <%= participant[:nickname] %>
                </span>
                <% if group.user_id == current_user.id && current_user.id != participant[:id] %>
                  <button type="button" class="btn btn-danger btn-xs kick-participant" data-name="<%= participant[:nickname] %>" data-id="<%= participant[:id] %>"><%= I18n.t('.actions.kick') %></button>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t('.prizes.title') %></h3>
      </div>
      <div class="panel-body">
        <% if prizes.any? %>
          <ul class="list-group">
          <% prizes.each do |prize| %>
          <li class="list-group-item">
            <span class="label label-success">#<%= prize.order %></span>
            <span><%= prize.name %></span>
          </li>
          <% end %>
        </ul>
        <% else %>
          <p><%= I18n.t('.prizes.no_prizes') %></p>
        <% end %>
        <% if group.user_id == current_user.id %>
          <a href="/groups/<%= group.id %>/prizes" class="btn btn-success btn-full-width"><%= "#{I18n.t('.actions.edit')} #{I18n.t('.prizes.title')}" %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if group.user_id == current_user.id %>
  <%= render("views/groups/_delete_popup.html.erb", id: group.id) %>
  <%= render("views/groups/_kick_popup.html.erb", id: group.id) %>
<% else %>
  <%= render("views/groups/_leave_popup.html.erb", id: group.id) %>
<% end %>
