<div id="home-description">
  <div class="col-md-6 text-center">
    <br>
    <h1><%= I18n.t('errors.not_found') %></h1>
    <p><%= I18n.t('errors.not_found_description') %></p>
  </div>
  <% if current_user.nil? %>
    <div id="login" class="col-md-4">
      <h3 class="page-header"><%= I18n.t('.home.title') %></h3>
      <p><%= I18n.t('.home.text') %></p>

      <h4 class="page-header"><%= I18n.t('.home.login') %></h4>
      <div class="col-md-2"></div>
      <div id="twitter-link" class="col-md-4 social-link">
        <a href="/auth/twitter">
          <img src="/img/twitter.jpg" width="64" height="64" />
        </a>
      </div>
      <div id="facebook-link" class="col-md-4 social-link">
        <a href="/auth/facebook">
          <img src="/img/facebook.jpg" width="64" height="64"/>
        </a>
      </div>
      <div class="col-md-2"></div>
    </div>
  <% end %>
</div>
