<h4 id="group-<%= group.name.downcase %>">Group <%= group.name %></h4>
<table class="table table-striped table-hover matches-table">
  <tbody>
    <% group.matches.each do |match| %>
      <tr id="match-<%= match.id %>">
        <td class="info-column">
          <p><%= match.start_datetime.strftime("%d %^b %Y") %></br>
          <%= match.stadium %></br>
          <%= match.place %>
          </p>
        </td>
        <td class="team-column">
          <img src="/img/flags/<%= match.host_team.flag %>">
          <br>
          <span class="team host-team"><%= match.host_team.name %></span>
        </td>
        <td class="text-center">
          <span class="time">
            <%= match.start_datetime.strftime("%H:%M") %></br>
            <%= match.local_timezone %>
          </span>
        </td>
        <td class="team-column">
          <img src="/img/flags/<%= match.rival_team.flag %>">
          <br>
          <span class="team"><%= match.rival_team.name %></span>
        </td>
        <td class="text-center">
          <% if prediction = MatchPrediction.prediction_for(current_user.id, match.id) %>
            <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
          <% else %>
            <button type="button"
                    class="btn btn-primary btn-sm btn-predict"
                    data-host="<%= match.host_team.name %>"
                    data-host-flag="<%= match.host_team.flag %>"
                    data-rival="<%= match.rival_team.name %>"
                    data-rival-flag="<%= match.rival_team.flag %>"
                    data-match="<%= match.id %>"
            >Predict</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
