<h4 id="date-<%= match.start_datetime.to_date %>"><%= match.start_datetime.strftime("%d %^b %Y") %></h4>
<h4 class="right">
  <% if match.values[:name].length == 1 %>
    <span class="group"><%= I18n.t('.common.group') + ' ' + match.values[:name] %></span>
  <% else %>
    <span class="group"><%= I18n.t(".common.rounds.#{match.values[:name]}") %></span>
  <% end %>
  </h4>
<table class="table table-striped match-table">
  <tbody>
    <%= partial("shared/_match_row_small.html", match: match) %>
  </tbody>
</table>
