<% content_for(:title){ I18n.t('.menu.dashboard')} %>

<% if current_user.show_rules? %>
  <%= partial("pages/_rules_alert.html", user: current_user) %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <% if matches[:now_playing].any? %>
      <div class="card upcoming">
        <div class="card-header">
          <h4 class="card-title"><%= I18n.t('.dashboard.now_playing') %></h4>
        </div>
        <div class="card-body table-full-width table-responsive">
          <table class="table table-striped match-table">
            <tbody>
              <% matches[:now_playing].each do |match| %>
                <%= partial("shared/_match_row_small.html", match: match) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if matches[:finalized].any? %>
      <div class="card upcoming">
        <div class="card-header">
          <h4 class="card-title"><%= I18n.t('.dashboard.finalized') %></h4>
        </div>
        <div class="card-body table-full-width table-responsive">
          <table class="table table-striped match-table">
            <tbody>
              <% matches[:finalized].each do |match| %>
                <%= partial("shared/_match_row_small.html", match: match) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if matches[:upcoming].any? %>
      <div class="card upcoming">
        <div class="card-header">
          <h4 class="card-title"><%= I18n.t('.dashboard.upcoming') %></h4>
        </div>
        <div class="card-body table-full-width table-responsive">
          <table class="table table-striped match-table">
            <tbody>
              <% matches[:upcoming].each do |match| %>
                <%= partial("shared/_match_row_small.html", match: match) %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= I18n.t('.sidebar.score') %></h4>
          </div>
          <div class="card-body">
            <h1 class="text-center card-title"><%= score %></h1>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= I18n.t('.sidebar.rank') %></h4>
          </div>
          <div class="card-body">
            <h1 class="text-center card-title"><%= rank %></h1>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <%= partial("pages/_map.html", map_hash: map_hash) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id, redirect: 'cup-groups/fixture') %>
