<h3><%= I18n.t('.rules.title') %>!</h3>
<p>
  <span><%= I18n.t('.rules.text') %></span>
  <span>
    <%= I18n.t('.rules.skip_text') %>
  </span>
</p>
<br/>
<%= render("./views/shared/_rules_#{session[:locale]}.html") %>
<div id="rules-action">
  <p class="text-success">
    <%= I18n.t('.rules.reminder_text') %>
  </p>
  <a href="/dashboard" class="btn btn-success"><%= I18n.t('.rules.button') %></a>
</div>
