<h2>Rank</h2>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <ul class="list-group" id="rank-list">
      <% @rank.each do |key, rank_for_key| %>
        <% rank_for_key.each do |rank| %>
        <li class="list-group-item" id="position-<%= key %>">
            <span class="badge"><%=rank.score || 0 %></span>
          <div class="rank-box">
            <span class="label label-<%= key < 3 ? 'success' : 'warning' %>">#<%= key %></span>
          </div>
          <span>
            <img src="<%= rank.user.image %>" class="participant-img">
            <%= rank.user.nickname %>
          </span>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

