<div class="card-body table-full-width">
  <table class="table match-table">
    <thead>
      <tr>
        <th colspan=3"><%= I18n.t('.predictions.headers.match') %></th>
        <th class="text-center d-none d-sm-table-cell"><%= I18n.t('.predictions.headers.group') %></th>
        <th class="text-center"><%= I18n.t('.predictions.headers.result') %></th>
        <th class="text-center"><%= I18n.t('.predictions.headers.your_prediction') %></th>
        <th class="text-center"><%= I18n.t('.predictions.headers.score') %></th>
      </tr>
    </thead>
    <tbody>
      <% predictions.each do |prediction| %>
        <tr>
          <td class="team-column d-none d-sm-table-cell">
            <a href="/teams/<%= prediction.match.host_team.iso_code %>">
              <img class="flag" src="/img/flags/<%= prediction.match.host_team.flag %>">
            </a>
            <br>
            <span class="team host-team">
              <%= I18n.t(".teams.#{prediction.match.host_team.iso_code}") %>
            </span>
          </td>
          <td class="text-center d-none d-sm-table-cell">VS</td>
          <td class="team-column d-none d-sm-table-cell">
            <a href="/teams/<%= prediction.match.rival_team.iso_code %>">
              <img class="flag" src="/img/flags/<%= prediction.match.rival_team.flag %>">
            </a>
            <br>
            <span class="team rival-team">
              <%= I18n.t(".teams.#{prediction.match.rival_team.iso_code}") %>
            </span>
          </td>

          <td class="team-column d-sm-none" colspan="3">
            <p class="text-center m-0">
              <a href="/teams/<%= prediction.match.host_team.iso_code %>">
                <img class="flag" src="/img/flags/<%= prediction.match.host_team.flag %>">
              </a>
            </p>
            <span class="vs-col">vs</span>
            <p class="text-center m-0">
              <a href="/teams/<%= prediction.match.rival_team.iso_code %>">
                <img class="flag" src="/img/flags/<%= prediction.match.rival_team.flag %>">
              </a>
            </p>
          </td>

          <td class="text-center d-none d-sm-table-cell">
            <strong class="text-success"><%= prediction.match.cup_group.name %></strong>
          </td>
          <td class="text-center">
            <% if prediction.match.result.nil? %>
              <div class="text-warning"><%= I18n.t('.predictions.statuses.not_started') %></div>
            <% elsif prediction.match.result.status == 'partial' %>
              <strong class="text-primary"><%= "#{prediction.match.result.host_score} - #{prediction.match.result.rival_score}" %></strong>
              <br>
              <div class="status text-success"><%= I18n.t('.predictions.statuses.in_progress') %></div>
            <% else %>
              <strong class="text-primary"><%= "#{prediction.match.result.host_score} - #{prediction.match.result.rival_score}" %></strong>
              <br>
              <div class="status text-danger"><%= I18n.t('.predictions.statuses.finished') %></div>
            <% end  %>
          </td>
          <td class="text-center">
            <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
          </td>
          <td class="text-center">
            <strong class="score <%= prediction.prediction_score == 3 ? 'text-success' : (prediction.prediction_score == 1 ? 'text-warning' : 'text-danger')%>"><%= prediction.prediction_score %></strong>
          </td>
        </tr>
        <% unless prediction.match_penalties_prediction.nil? %>
          <tr>
            <td colspan="3">
            </td>
            <td class="text-center">
              <strong class="text-warning"><%= I18n.t('.matches.penalties') %></strong>
            </td>
            <td class="text-center">
              <% if prediction.match.result.nil? %>
                <strong class="text-warning"><%= I18n.t('.predictions.statuses.not_started') %></strong>
              <% else %>
                <strong class="text-primary"><%= "#{prediction.match.result.host_penalties_score} - #{prediction.match.result.rival_penalties_score}" %></strong>
              <% end  %>
            </td>
            <td class="text-center">
              <strong class="text-primary"><%= "#{prediction.match_penalties_prediction.host_score} - #{prediction.match_penalties_prediction.rival_score}" %></strong>
            </td>
            <td class="text-center">
              <strong class="score <%= prediction.match_penalties_prediction.prediction_score == 3 ? 'text-success' : (prediction.match_penalties_prediction.prediction_score == 1 ? 'text-warning' : 'text-danger')%>"><%= prediction.match_penalties_prediction.prediction_score %></strong>
            </td>
          </tr>
        <% end %>
      <% end %>
        <tr>
          <td colspan="6" class="d-none d-sm-table-cell"><strong>TOTAL</strong></td>
          <td colspan="5" class="d-sm-none"><strong>TOTAL</strong></td>
          <td class="text-center"><strong><%= predictions.inject(0) { |sum, prediction| sum + prediction.total_prediction_score } %></strong></td>
        </tr>
    </tbody>
  </table>
</div>
