<% if current_user.admin %>
  <h2><%= I18n.t('.predictions.title_admin', name: user.name) %></h2>
<% else %>
  <h2><%= I18n.t('.predictions.title') %></h2>
<% end %>
<div class="panel panel-default" id="predictions-table">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <% if predictions.any? %>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th colspan=3"><%= I18n.t('.predictions.headers.match') %></th>
            <th><%= I18n.t('.predictions.headers.group') %></th>
            <th><%= I18n.t('.predictions.headers.result') %></th>
            <th><%= I18n.t('.predictions.headers.your_prediction') %></th>
            <th><%= I18n.t('.predictions.headers.score') %></th>
          </tr>
        </thead>
        <tbody>
          <% predictions.each do |prediction| %>
            <tr>
              <td>
                <img src="/img/<%= "flags/#{prediction.match.host_team.flag}" %>">
                <br>
                <span class="team host-team"><a href="/teams/<%= prediction.match.host_team.iso_code %>"><%= prediction.match.host_team.name %></a></span>
              </td>
              <td>VS</td>
              <td class="team-column">
                <img src="/img/<%= "flags/#{prediction.match.rival_team.flag}" %>">
                <br>
                <span class="team host-team"><a href="/teams/<%= prediction.match.rival_team.iso_code %>"><%= prediction.match.rival_team.name %></a></span>
              </td>
              <td>
                <span><%= prediction.match.cup_group.name %></span>
              </td>
              <td>
                <% if prediction.match.result.nil? %>
                  <strong class="text-warning"><%= I18n.t('.predictions.statuses.not_started') %></strong>
                <% elsif prediction.match.result.status == 'partial' %>
                  <strong class="text-primary"><%= "#{prediction.match.result.host_score} - #{prediction.match.result.rival_score}" %></strong>
                  <br>
                  <strong class="status text-success"><%= I18n.t('.predictions.statuses.in_progress') %></strong>
                <% else %>
                  <strong class="text-primary"><%= "#{prediction.match.result.host_score} - #{prediction.match.result.rival_score}" %></strong>
                  <br>
                  <strong class="status text-danger"><%= I18n.t('.predictions.statuses.finished') %></strong>
                <% end  %>
              </td>
              <td>
                <strong class="text-primary"><%= "#{prediction.host_score} - #{prediction.rival_score}" %></strong>
              </td>
              <td>
                <strong class="score <%= prediction.prediction_score == 3 ? 'text-success' : (prediction.prediction_score == 1 ? 'text-warning' : 'text-danger')%>"><%= prediction.prediction_score %></strong>
              </td>
            </tr>
          <% end %> 
            <tr>
              <td colspan="6"><strong>TOTAL</strong></td>
              <td ><strong><%= predictions.inject(0) { |sum, prediction| sum + prediction.prediction_score } %></strong></td>
            </tr>
        </tbody>
      </table>
    <% else %>
      <p><%= I18n.t('.predictions.no_predictions') %></p>
    <% end  %>

  </div>
</div>
